<browser-refresh enabled="true" />
<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>
    <layout-placeholder name="title"/>
  </title>
  <layout-placeholder name="head"/>
  <lasso-head/>
</head>
<body>
  <div id="top-nav">
    <layout-placeholder name="top-nav"/>
  </div>
  <div id="left-nav">
    <layout-placeholder name="left-nav"/>
  </div>
  <layout-placeholder name="body"/>
  <lasso-body/>
</body>
</html>
