<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>
    <layout-placeholder name="title"/>
  </title>
  <layout-placeholder name="head"/>
  <lasso-head/>
</head>
<body>
  <layout-placeholder name="body"/>
  <lasso-body/>
</body>
</html>
