<lasso-page name="index" package-path="./browser.json"/>

<layout-use("../../layouts/basic-layout/layout.marko")>

<layout-put into="top-nav">
  <top-nav/d>
</layout-put>


<layout-put into="body">
  <h2>
    Hello world!
  </h2>
</layout-put>
</layout-use>
